.container__articles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.articles__main{
  margin-right: 1rem;
}

h5{
  margin-top: 0.5rem;
    color: grey;
    text-align: center;
}
