nav{
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-title {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #207C6F;
}

.menu-list {
  list-style-type: none;
  display: flex;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #414242;
}

li{
  margin: .825rem 0 0 .5rem;
}

